.navbars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbars .logo{
    width: max(10%, 80px);
}
.navbars .profile{
    width: 40px;
    border-radius: 100%;
}