.welcome-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
}

.welcome-containers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/header.png');
  background-size: cover;
  background-position: center center;
  filter: blur(5px); 
  z-index: -1; 
}
  .welcome-containers h1 {
    font-size: 100px;
    color: #27ae60; 
    margin-bottom: 20px;
  }
 
  .welcome-containers .desc {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 40px;
    width: 60%;
    max-width: 600px;
    line-height: 1.5;
  }

  .btn-groups {
    display: flex;
    gap: 20px;
  }

  .btn-groups button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .btn-groups button:hover {
    background-color: #219150;;
  }
  @media (max-width: 600px) {
    .welcome-containers h1 {
      font-size: 2.5rem;
    }
    
    .welcome-containers p {
      font-size: 1rem;
      width: 80%;
    }
    
    .btn-groups {
      flex-direction: column;
      gap: 15px;
    }
  
    .btn-groups button {
      width: 100%;
      padding: 12px;
    }
  }
  