.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);

}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap:20px
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 1;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 30px;
}
.sidebar-option:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.sidebar-option.active{
    background-color: #27ae60;
    border-color: white;
}
@media(max-width:900px)
{
    .sidebar-option p{
        display: none;
    }
}